meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Tokners 
link(rel="stylesheet", href="../sass/main.css")

header
  .logo-img
    img(src="../img/logo_colored_sign_black_text.png", alt)
  nav
    .link-box
      a(href="#") OUR TEAM
      a(href="#") TOKENS
      a(href="#") CONNECT WALLET
      a(href="#") LIGHTPAPER
    .login-box
      button SIGN IN
      button SIGN UP

main
  img.background(src="../img/Group 26.png", alt)
  .page1scroll
    .main-info-box
      p At Tokners are
      h4 Reimagining social media through the power of the blockchain.
      p We are creating social media 3.0 with influencers, celebrities and creators being able to launch their own digital currency by simply creating a profile with media content posted as Non fungible Tokens that can be owned and traded on the Tokners network
      button LEARN MORE
    img(src="../img/Group 27.png", alt)
  .card-box
    .card-container
      .card
        p 01
        p
          | For 
          span Creators
        p Creators can gain independence through a decentralised digital currency system that is dependent on growing and engaging with the community and also their star power. They own 10-15% of the total value of the tokens minted.
        img(src="../img/glossy.png", alt)
      .card
        p 02
        p
          | For 
          span Hodlers
        p Holding social tokens allows the individual to gain access to benefits including unreleased content, private communities, direct access to celebrity, early-access to tickets and more as well as the ability to trade with other communities in order to gain access to more creator content with early token buyers being the biggest winners as the value of the token increases with more buyers.
        img(src="../img/image 48.png", alt)
    .cardbox-info
      .quetion-box
        img(src="../img/Group 3.png", alt)
        p What makes us different?
      .textbox
        p We would only launch tokens with the express permission of the creators.
        p
          | There are several thousand celebrities and creators on twitter, tiktok, Instagram and YouTube with followings in the millions who we would be 
          span actively engaging
          |  before we go viral.
        p
          | We would get them on our platform and they would see the opportunity to create a fan driven digital economy where their digital content can be traded as NFTs and their most loyal fans can have the monetary value of their creator's currency increase 
          span significantly
          |  as they promote their digital currency across their channels while our native token holders benefit from the Tokners popularity.
  .airplanelist-box
    .topinfo-box
      .q2021box
        p Q1
        p 2021
      .q2021box
        p Q2
        p 2021
      .q2021box
        p Q3.
        p 2021
      .q2021box
        p Q4
        p 2021
      img.airplane(src="../img/image 66.png", alt)
    img(src="../img/Group 27 (1).png", alt)
    .bottominfo-box
      .textbox
        ol
          li Team set-up
          li Launch of informational website
      .textbox
        ol
          li Presale and exchange listings
          li Blockchain development and launch
          li Launch of our MVP
          li Influencer agency partnerships
          li Marketing and promotion
      .textbox
        ol
          li Celebrity, Creator and Influencer partnerships
          li Expansion of creator communities on our platform
          li More Marketing and promotion
      .textbox
        ol
          li Mainstream partnerships
          li 500 active creator communities
          li 2Million active community members
          li More Marketing and promotion
  .toknerscoming-box
    img(src="../img/Subtract.png", alt)
    .textinfobox
      p Tokners is coming
      p Cryptocurrency adoption is at less than 1% of the global world population with some countries and entities fighting against its mass adoption and the smartest developers and nerds holding the fort.
      p Bitcoin was the first, and it has since grown to thousands of tokens launched all aiming to fix one problem or the other with some quite simply FOMOing the moment. Our goal is to bring mass adoption to the cryptocurrency space by dumbing it down. How far down? So down that even a celebrity can explain it in simple words to their followers and have them download an app, buy into the social currency of their favourite person and watch their investment as is with other cryptocurrency project.
      p We are trying to do to this space what investment apps did for the "nonexistent retail investors". We are gamefying digital currency, bringing in popular faces instead of hard to understand projects to make it the norm inadvertently being the "gateway drug" for a lot of people to finally give this space a real look.
      p A new digital economy is coming. People would be just as powerful as countries and creators would be paid beyond the peanuts that conventional social media platforms can offer.
      p There would be new markets and advertisers with little to offer would not find home there. Like Kanye said, "Personalities would become the new currency, and services would be built on top of them". Well, Kanye didn't exactly say that, but it sounds like something we hope he would say.
      p Currency is digital, it has been that way for a while now, but this time there would be no dead presidents on the money, there would people like you on the money, and you would own it because it would make the most sense in the world.
    img(src="../img/Group 29.png", alt)
footer
  img(src="../img/Rectangle 10.png", alt)
  .topfooter-box
    a(href="#") OUR TEAM
    p /
    a(href="#") TOKENS
    p /
    a(href="#") CONNECT WALLET
    p /
    a(href="#") LIGHTPAPER
  .bottomfooter-box
    img(src="../img/white_logo.png", alt)
    img(src="../img/Group 23.png", alt)
    .copwrite-box
      p © 2021 Tokners. All rights reserved.
      a(href) Verst by Bakko28